@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

.shake {
  animation: shake 1s;
  -webkit-animation: shake 1s;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
    border: 1px solid red;
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
    border: 1px solid red;
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -o-transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
    border: 1px solid red;
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
  }
}

.css-4pax7l-MuiPickersLayout-root .MuiPickersLayout-toolbar {
  display: none !important;
}
.css-4pax7l-MuiPickersLayout-root .MuiPickersLayout-actionBar {
  display: none !important;
}

.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: #fbb821 !important;
}
.css-jgls56-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: #fbb821 !important;
}
